<!DOCTYPE html>
<html lang="ko-kr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- head 선언 -->
    <th:block th:fragment="system-head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link type="text/css" rel="stylesheet" href="css/luplina-reset.css">
        <link type="text/css" rel="stylesheet" href="css/entypo-plus.css">
        <link rel="stylesheet" type="text/css" href="css/luplino-layout.css">
        <link type="text/css" rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" type="text/css" href="css/luplino-grid.css">
        <link type="text/css" rel="stylesheet" href="css/luplina.css">
    </th:block>
    <!-- //head 선언 -->

</html>