<!DOCTYPE html>
<html lang="ko-kr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <!--configFragment 선언-->
    <th:block th:fragment="panel-quick-head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" th:href="${@domainConfig.getProperty('cssUrl')} + 'luplina-reset.css'">
        <link type="text/css" rel="stylesheet" th:href="${@domainConfig.getProperty('cssUrl')} + 'luplina.css'">
        <link type="text/css" rel="stylesheet" th:href="${@domainConfig.getProperty('cssUrl')} + 'entypo-plus.css'">
        <link type="text/css" rel="stylesheet" th:href="${@domainConfig.getProperty('cssUrl')} + 'entypoplus.css'">
        <script th:src="${@domainConfig.getProperty('jsUrl')} + 'jquery-3.4.1.min.js'"></script>
        <script th:src="${@domainConfig.getProperty('jsUrl')} + 'jquery.ztree.core.js'"></script>
        <script th:src="${@domainConfig.getProperty('jsUrl')} + 'luplina.js'"></script>

        <script language="JavaScript">
            function openNewWindow(window) {
                open(window, "NewWindow", "left=0, top=0, toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes, width=200, height=200");
            }
        </script>
    </th:block>

</html>